@model IEnumerable<Modelos.Escala>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model._Ausencia.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._Funcionario.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item._Ausencia.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._Funcionario.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EscalaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EscalaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EscalaID })
        </td>
    </tr>
}

</table>
