@model Modelos.HoraExtra

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HoraExtra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._Funcionario.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Funcionario.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Horas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Horas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fim)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HoraExtraID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
